# Canonical author for git log / shortlog.
# GitHub Contributors may still show past names unless history authors are rewritten
# (see scripts/rewrite-git-history.sh).

Ikrame Ibn Hayoun <ikihga2223@gmail.com>
ikihga2223-create <ikihga2223@gmail.com>
Ikrame I.H. <ikihga2223@gmail.com>
ikrame-ih <ikihga2223@gmail.com>
